.jumbotron {
  background-color: indigo;
  color: white;
}

.jumbotron a {
  color: white;
}

.jumbotron a:hover {
  color: white;
  text-decoration: none;
}

.jumbotron h1 small {
  color: lightgray;
}

.skillz-logo {
  max-height: 20px;
  vertical-align: baseline;
}
